@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.typewriter {
  font-family: 'Source Code Pro', monospace;
  position: relative;
}

.after,
.before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.before {
  /* animation: typewriter 4s steps(14) 0.5s forwards; */
}

.after {
  width: 0.125rem;
  background-color: black;
  /* animation: typewriter 4s steps(14) 0.5s forwards, blink 600ms steps(11) infinite; */
}

@keyframes typewriter {
  form {
    left: 1%;
  }
  to {
    left: 101%;
  }
}

@keyframes blink {
  to {
    background-color: transparent;
  }
}
